@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);



.main-nav {
	background: rgba(34,34,34,.9);
}

.contact {
   min-height: 100vh;
   flex: 1;
   width: 100%;
   margin: 0 auto;
   padding: 150px 50px 50px;

   .wrapper {
   	width: 80%;
   	margin: 0 auto;
   }
}


.bg-stripe {
	width: 100%;
	min-height: 30vh;
	background: #c2b699;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   display: flex;


   h2 {
      letter-spacing: 3px;
      margin: auto;
      color: #5d5d5d;
      font-size: 2em;
   }
   
}


/*********************
	CONTACT FORM
*********************/


/* CONTACT */

.wrapper {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	padding: 50px;
	background: #fafafa;
}

.row {
	margin-bottom: 0;
}

.list-unstyled {
	list-style-type: none;
	padding-left: 0;

	p, a {
		color: #585859;
	}

}


.contact-info li {
  padding-bottom: 10px;
}

.contact-info h2 {
	font-size: 16px;
	letter-spacing: 0.2em;
}

.contact-info h2, .contact-info p {
  padding-left: 0px;
}

.contact-info p {
  font-size: 12px;
}

.contact-info i {
  font-size: 20px;
  color: #333;
}


input:not([type="range"]) {
  width: 100%;
  border: none;
  border-bottom: 1px solid #777;
  padding: 10px 20px;
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}

textarea {
  width: 100%;
  border: 1px solid #777;
  padding: 14px;
  min-height: 150px;
  margin: 50px 0 20px 0;
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

textarea:focus {
  outline: none;
  border: 1px solid #000;
}


.btn {
	border-radius: 0;
	border: 0;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	padding: 0px 70px;
	margin: 30px;
	overflow: hidden;
	z-index: 1;
	line-height: 50px;
	position: relative;
	background: #00E6FF;
    color: #333;

}

.btn::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 500%;
	height: 1000%;
	background: rgba(255,255,255,0.3);
	z-index: -1;
	transform-origin: 0% 0%;
	transform: translateX(calc(20% - 20px)) translateY(10%) rotate(-45deg);
	transition: transform 0.3s;
}

.btn:hover::after {
  transform: translateY(10%) translateX(-20px) rotate(-45deg);
}

.btn:hover {
  background-color: #00E6FF;
  color: #777;
}

.btn:focus, .btn:active {
  background-color: #00E6FF;
  color: #777;
  outline: none;
}





/**************
	GOOGLE MAPS
***************/


#map {
	width: 100%;
	height: 45vh;
	background: #c2b699;
	margin: 100px 0 0;
}




/***************
	MEDIA QUERIES
****************/



@media screen and (max-width: 768px) {
  .contact-info {
    text-align: center;
  }
  .contact-info li {
    display: inline-block;
    padding: 0 5px 10px 5px;
  }
  .contact-info i {
    width: 100%;
    padding-bottom: 10px;
  }
  .contact-info h3, .contact-info p {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .contact {
    padding-bottom: 0;
  }
  .contact-info li {
    display: block;
  }
}

.contact-form {
  overflow: hidden;
  margin-bottom: 40px;
}

.contact-form .form-group {
  margin-bottom: 0;
}

.contact-form .alert,
.contact-form label {
  display: none;
}

@media screen and (max-width: 480px) {
  .contact-form .btn-primary {
    width: 100%;
  }
}