.clocks {
  display: flex;
  justify-content: center;
  background: #dadada;

}

.clock {
  text-align: center;
}

.clock h2 {
  margin: 0;
}

.clock_local{
  border-radius: 50%;
  background: #fff url(../skins_clock/clock6.svg) no-repeat center; /* 	color and design of the clock  */
  background-size: 88%;
  height: 150px; /* height clock */
  width: 150px; /* 	width clock */
  float: left;
  position: relative;	
 box-shadow: 0 10px 20px rgba(0,0,0,0.3); /* shadow */
 margin: 25px;

}


.clock_local:after {     /* point at the center  */
  background: red;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4%;
  height: 4%;
  z-index: 10;
}


.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.hours {
  background: #000;  /* color hour arrows  */
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}

.minutes {
  background: #000; /* color minutes arrows  */
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}

.seconds {
  background: #dc0000; /* color seconds arrows  */
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
}


@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.hours-container {
  animation: rotate 43200s infinite linear;
}
.minutes-container {
  animation: rotate 3600s infinite steps(60);
}
.seconds-container {
  animation: rotate 60s infinite steps(60);
}