@import url(loan.css);
@import url(contact.css);

@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin-ext);


*,
*::after,
*::before {
   box-sizing: border-box;
}

html,
body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;

   ul {
      list-style-type: none;
   }

   a{
      text-decoration: none;
   }
}



/*********
   HEADER
**********/


.banner {
  /* background: url(../images/bank.jpg) no-repeat;
   background-size: cover;
   background-position: center top 40%;*/
   min-height: 100vh;
   width: 100%;
   
}

.container {
   width: 100%;
   margin: 0 0 -20px;
   padding: 0;
}




/***********
   SLIDESHOW
************/


.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
/*.cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}*/

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 18s linear infinite 0s; 
}

.cb-slideshow li:nth-child(1) span { 
    background-image: url(../images/p1.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../images/p7.jpg);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../images/p11.jpg);
    animation-delay: 12s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    20% { opacity: 1 }
    50% {opacity: 0}
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
   opacity: 1;
}












/*****************
   SCROLL DOWN ARROW
******************/

/*html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
} */ 
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
   background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
   background-size: contain;
   background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor:pointer;
   height: 60px;
   width: 80px;
   margin: 0px 0 0 -40px;
   line-height: 60px;
   position: absolute;
   left: 50%;
   bottom: 0px;
   color: #222;
   text-align: center;
   font-size: 70px;
   z-index: 100;
   text-decoration: none;
   text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

   -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
   -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
   animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}





/************
   NAVIGATION
**************/


.main-nav {
   height: 100px;
   width: 100%;
   /*background: rgba(0,0,0,0.7);*/
   background: rgba(34,34,34,.1);
   position: fixed;
   z-index: 100;
   top: 0;
   left: 0;
   height: 100px;
   transition: height 0.5s cubic-bezier(0, 0, 0.3, 1);

   /***SOCIAL LINKS****/

   .top-menu {
      height: 40%;
      color: #000;
      background: #fff;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 1.2em;
      border-bottom: 1px solid #fff;

      i {
         padding: 15px 15px 5px;
         
         &:not(:last-child) {
            border-right: 1px dotted #525252;
         }

         &:first-child {
            margin-left: 100px;
         }

         &:last-child {
            margin-right: auto;
         }
      }
   }

   .down-menu {
      height: 60%;
   }


   .icon-facebook-squared:hover {
      background: #3B5998;
      color: #fff;
   }

   .icon-twitter:hover {
      background: #4099FF;
      color: #fff;
   }  
       
   .icon-mobile:hover {
      background: #5986E4;
      color: #fff;
   }
}


.outer-nav {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2em;
  margin: 0;
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}
.outer-nav * {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  /*float: right;*/
}
.outer-nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.2em;
  overflow: hidden;
  padding: 10px 0;


}
.outer-nav a {
  padding: 0 0.2em 0 0.5em;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;

}
.outer-nav a:before,
.outer-nav a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.outer-nav a:before {
  left: 100%;
  display: block;
  width: 3px;
  height: 100%;
  content: "";
  background-color: #AD0008;
}
.outer-nav a:after {
  padding: 0 0.2em 0 0.5em;
  position: absolute;
  left: 100%;
  top: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.outer-nav li:hover a {
  transform: translateX(-100%);
}

.current {
   /*color: #337ab7;*/
   color: #08B2A9;
}


.logo {
   display: inline-flex;
   color: #fff;
   text-transform: uppercase;
   margin-left: 5%;
   padding-bottom: 10px;

}


.nav-light {

}


.nav-fixed {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 70px;
   padding-left: 0;
   background: rgba(34,34,34,.9);
   transition: height 0.5s cubic-bezier(0, 0, 0.3, 1);
   z-index: 100;
   font-size: 1em;

   li {
      padding: 20px 0;
   }

}



/****************
   INNER NAVIGATION ON HOVER
******************/

.inner-nav {
   position: absolute;
   list-style-type: none;
   right: 18%;
   
   li {
      display: block;
      color: #fff;
   }

   a {
      text-decoration: none;

   }
}







/**************
   MAIN CONTENT
**************/

.main-content {
   min-height: 40vh;
   background: #fff;
   font-family: 'Source Sans Pro', sans-serif;
   flex: 1;
   width: 100%;
   margin: 0 auto;

   .main-text{
      width: 100%;
      padding-bottom: 100px;
   }   

   .left-text,
   .middle-text,
   .right-text {
      padding: 50px;
      line-height: 1.7em;
      letter-spacing: 2px;
   }   
} 



/************
   OFFER TILE
*************/

.offer {
   height: 45vh; 
   width: 100%;
   margin: 0;
   padding: 0 0 120px; 
   background: #fff;


   .credit img,
   .loan img,
   .insurance img{
      height: 100%;
  }

  .credit {
   padding-left: 0;
  }

  .loan {
   padding-right: 0;
  }

} 


/***********************
   OFFER IMAGE HOVER EFFECT
*************************/

figure.snip1477 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
/*  min-width: 230px;
  max-width: 315px;*/
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.snip1477 .title {
  position: absolute;
  top: 9%;
  left: 4%;
  padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.snip1477 h2 {
  font-weight: 400;
}
figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}


.bg {
   background: transparent;
   min-height: 50vh;
   width: 100%;
}




/********
   CALC
*********/
      
.calc {
   background: #fff;
   min-height: 50vh;
   width: 100%;
   padding-top: 80px;

   #slider-1 {
      width: 50%;
      margin: 0 auto;

   }

} 


*:focus {
    outline: 0;
}

.bg-gray {
  background-color: #E5E5E5;
}
.txt-gray {
  color: #808080;
}
#g-range-container {
  width: 370px;
  border-radius: 10px;
  margin: 200px auto 0 auto;
  height: 10px;
  padding-top: 6px;
  border: 1px solid #CECECE;
}
#g-range-container .g-range {
  width: 350px;
  background-color: #72B2AA;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}
#g-range-values-container {
  width: 350px;
  margin: 20px auto;
}
.txt-big-number {
  text-align: center;
}
input[type="range"] {
   -webkit-appearance: none;
   background-color: black;
   height: 4px;
}
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   position: relative;
   top: 0px;
   z-index: 1;
   width: 35px;
   height: 35px;
   border-radius: 40px;
   background-color: #FFF;
   border: 1px solid #CECECE;
}






/********
   FOOTER
*********/

footer {
   /*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");*/
   background: rgba(34,34,34,.98);
   min-height: 200px;
   width: 100%;
   margin: 0;
   text-align: center;
   font-size: 1em;
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   align-items: flex-end;


   .info {
      margin: 0 auto 0 100px;
      display: flex;
      flex-direction: column;
     
   }

   ul {
      list-style-type: none;

      li {
         padding: 5px;
      }
   }

   .bottom-footer {
      background: rgba(34,34,34,.8);
      width: 100%;
      padding: 1em;

   }

}