@import url(loan.css);
@import url(contact.css);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin-ext);
*,
*::after,
*::before {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

/*********
   HEADER
**********/
.banner {
  background: url(../images/bank.jpg) no-repeat;
  background-size: cover;
  background-position: center top 40%;
  min-height: 100vh;
  width: 100%; }

.container {
  width: 100%;
  margin: 0;
  padding: 0; }

/************
   NAVIGATION
**************/
.main-nav {
  height: 100px;
  width: 100%;
  /*background: rgba(0,0,0,0.7);*/
  background: rgba(0, 80, 98, 0.9);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100px;
  transition: height 0.5s cubic-bezier(0, 0, 0.3, 1); }

.outer-nav {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2em;
  margin: 0;
  height: 100%;
  float: right; }

.outer-nav * {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  /*float: right;*/ }

.outer-nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.2em;
  overflow: hidden;
  padding: 35px 0; }

.outer-nav a {
  padding: 0 0.2em 0 0.5em;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none; }

.outer-nav a:before,
.outer-nav a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

.outer-nav a:before {
  left: 100%;
  display: block;
  width: 3px;
  height: 100%;
  content: "";
  background-color: #AD0008; }

.outer-nav a:after {
  padding: 0 0.2em 0 0.5em;
  position: absolute;
  left: 100%;
  top: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap; }

.outer-nav li:hover a {
  transform: translateX(-100%); }

.current {
  /*color: #337ab7;*/
  color: #08B2A9; }

.logo {
  display: inline-flex;
  color: #fff;
  text-transform: uppercase;
  margin-left: 5%; }

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-left: 0;
  /*background-image: rgba(0,0,0,.9);*/
  /*background: rgba(0,0,0,0.7);*/
  background: rgba(0, 80, 98, 0.9);
  transition: height 0.5s cubic-bezier(0, 0, 0.3, 1);
  z-index: 100;
  font-size: 1em; }
  .nav-fixed li {
    padding: 20px 0; }

/****************
   INNER NAVIGATION ON HOVER
******************/
.inner-nav {
  position: absolute;
  list-style-type: none;
  right: 18%; }
  .inner-nav li {
    display: block;
    color: #fff; }
  .inner-nav a {
    text-decoration: none; }

/**************
   MAIN CONTENT
**************/
.main-content {
  min-height: 40vh;
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  flex: 1;
  width: 100%;
  margin: 0 auto; }
  .main-content .main-text {
    width: 100%; }
  .main-content .left-text,
  .main-content .middle-text,
  .main-content .right-text {
    padding: 50px;
    line-height: 1.7em;
    letter-spacing: 2px; }

/************
   OFFER TILE
*************/
.offer {
  height: 45vh;
  width: 100%;
  margin: 0;
  padding: 0 0 80px; }
  .offer .credit img,
  .offer .loan img,
  .offer .insurance img {
    height: 100%; }
  .offer .credit {
    padding-left: 0; }
  .offer .loan {
    padding-right: 0; }

/***********************
   OFFER IMAGE HOVER EFFECT
*************************/
figure.snip1477 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  /*  min-width: 230px;
    max-width: 315px;*/
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000; }

figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease; }

figure.snip1477 img {
  width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9; }

figure.snip1477 .title {
  position: absolute;
  top: 9%;
  left: 4%;
  padding: 5px 10px 10px; }

figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff; }

figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff; }

figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }

figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase; }

figure.snip1477 h2 {
  font-weight: 400; }

figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000; }

figure.snip1477 figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px; }

figure.snip1477 figcaption p {
  margin: 0; }

figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35; }

figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

/********
   CALC
*********/
.calc {
  background: #fff;
  min-height: 50vh;
  width: 100%;
  padding-top: 80px; }
  .calc #slider-1 {
    width: 50%;
    margin: 0 auto; }

/********
   FOOTER
*********/
footer {
  /*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");*/
  background: rgba(0, 20, 23, 0.98);
  min-height: 200px;
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 1em;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-end; }
  footer .info {
    margin: 0 auto 0 100px;
    display: flex;
    flex-direction: column; }
  footer ul {
    list-style-type: none; }
    footer ul li {
      padding: 5px; }
  footer .bottom-footer {
    background: rgba(0, 20, 15, 0.98);
    width: 100%;
    padding: 1em; }

/*# sourceMappingURL=style.css.map */
