@import url(loan.css);
@import url(page-transition.css);
@import url(blog.css);

@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin-ext);


*,
*::after,
*::before {
   box-sizing: border-box;
}

html,
body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;


   ul {
      list-style-type: none;
   }

   a{
      text-decoration: none;
   }
}



/*********
   HEADER
**********/


.banner {
  /* background: url(../images/bank.jpg) no-repeat;
   background-size: cover;
   background-position: center top 40%;*/
   min-height: 100vh;
   width: 100%;
   position: relative;
   overflow-x: hidden;
   background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    );
  
  
  .slide-in-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    top: 40%;
    right: -100%;
    color: #dbdbdb;
    font-size: 2em;
    
    h1 {
      width: 100vw;
      padding-right: 100%;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }



  #heading1 {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  #heading2 {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
  }

/*  .heading3 {
    right: 300%;
    animation: slide-text 3s ease-in infinite;
    animation-delay: 7.5s;
  }*/
}

@keyframes slide-text {
  0% {right: -100%;}
  10% {right: 0;}
  30% {right: 15%}
  45% {right: 30%}
  75% {right: 30%;}
  100% {left: -100%}

}

.container {
   width: 100%;
   margin: 0 0 -20px;
   padding: 0;
}






/***********
   SLIDESHOW
************/


.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
/*.cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}*/

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 18s linear infinite 0s; 
}

.cb-slideshow li:nth-child(1) span { 
    background-image: url(../images/p1.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../images/p7.jpg);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../images/p11.jpg);
    animation-delay: 12s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    20% { opacity: 1 }
    50% {opacity: 0}
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
   opacity: 1;
}



/*******************
    SLIDE DOWN ARROW 
********************/


.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  bottom:0;
  margin-left:-5em;
  background:#111;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #333;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #111 transparent transparent transparent;
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
}


/*.hint {
  position:absolute;
  top:0.6em;
  width:100%;
  left:0;
  font-size:2em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}*/


.arrow-wrap:hover .hint {
  opacity:1;
}


@-webkit-keyframes arrows {
  0% { top:0; }
  10% { top:12%; }
  20% { top:0; }
  30% { top:12%; }
  40% { top:-12%; }
  50% { top:12%; }
  60% { top:0; }
  70% { top:12%; }
  80% { top:-12%; }
  90% { top:12%; }
  100% { top:0; }
}

.arrow-wrap .arrow {
  -webkit-animation: arrows 2.8s 0.4s infinite;
/*  -webkit-animation-delay: 3s;*/
   animation: arrows 2.8s 0.4s infinite;
}




/************
   NAVIGATION
**************/


.main-nav {
   height: 100px;
   width: 100%;
   /*background: rgba(0,0,0,0.7);*/
   background: rgba(34,34,34,.0);
   position: fixed;
   z-index: 100;
   top: 0;
   left: 0;
   height: 100px;
   transition: height 0.5s cubic-bezier(0, 0, 0.3, 1);

   /***SOCIAL LINKS****/

  /* .top-menu {
      height: 40%;
      color: #000;
      background: #fff;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 1em;
      border-bottom: 1px solid #fff;

      i {
         padding: 10px 15px 5px;
         
         &:not(:last-child) {
            border-right: 1px dotted #525252;
         }

         &:first-child {
            margin-left: 100px;
         }

         &:last-child {
            margin-right: auto;
         }

         &:hover {
            cursor: pointer;
         }
      }
   }
*/

}  /*MAIN NAV END*/


.outer-nav {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  margin: 0;
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}
.outer-nav * {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  /*float: right;*/
}
.outer-nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.2em;
  overflow: hidden;
  padding: 10px 0;


}
.outer-nav a {
  padding: 0 0.2em 0 0.5em;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;

}
.outer-nav a:before,
.outer-nav a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.outer-nav a:before {
  left: 100%;
  display: block;
  width: 3px;
  height: 100%;
  content: "";
  background-color: #FA042D;
}
.outer-nav a:after {
  padding: 0 0.2em 0 0.5em;
  position: absolute;
  left: 100%;
  top: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.outer-nav li:hover a {
  transform: translateX(-100%);
}

.current {
   transform: translateX(-100%);
}


.logo {
   display: inline-flex;
   align-items: center;
   color: #fff;
   text-transform: uppercase;
   margin: 0 0 0 5%;
   height: 100%;
   font-size: 3em;

}

/**** NOT TRANSPARENT MENU ******/

.dark-menu {
   background: rgba(34,34,34,.9);
}




.nav-fixed {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 70px;
   padding-left: 0;
   background: rgba(34,34,34,.9);
   transition: height 0.5s cubic-bezier(0, 0, 0.3, 1);
   z-index: 100;
   font-size: 1em;

   li {
      padding: 20px 0;
   }

}



/****************
   INNER NAVIGATION ON HOVER
******************/

.inner-nav {
   position: absolute;
   list-style-type: none;
   right: 18%;
   
   li {
      display: block;
      color: #fff;
   }

   a {
      text-decoration: none;

   }
}


/*****************
  DROPDOWN CONTACT
*****************/



.contact-panel {
  display: none;
  height: 35vh;
  width: 100%;
  position: fixed;
  top: 100px;
  left: 0;
  background: #fff;
  z-index: 100;
  box-shadow: 0 0px 25px #000;

}

.contact-info {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  background: #8E4854;
  padding-left: 8%;
  color: #fff;
  letter-spacing: 2px;


  p {
    font-size: 1.8em;
    margin: 0;

    &:first-child {
      font-size: 2.5em;
      padding: 15px 0;
    }
  }
}

.contact-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;

  .open-hours,
  .contact-us {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;

    button {
      width: 250px;
      height: 95px;
      border-radius: 15px;
      border: 3px solid #8E4854;
      color: #8E4854;
      background: #fff;
      font-size: 1.5em;
      letter-spacing: 2px;

      &:hover {
        background: #8E4854;
        color: #fff;
        border: 3px solid #fff;
        transition: all .4s ease;
      }
    }
  }


  .open-hours {
    position: absolute;
    top: 95px;
    left: 4%;

    .open {
      width: 12px;
      height: 12px;
      background: green;
      border: 1px solid #fff;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px;
    }

    p {
      display: inline-block;
      color: #fff;
      letter-spacing: 1.5px;
    }
  }

  .close {
      background: #FA042D;
  }

}   /**** CONTACT RIGHT END ****/




/**************
   MAIN CONTENT
**************/

.main-content {
   min-height: 40vh;
   background: #fff;
   font-family: 'Source Sans Pro', sans-serif;
   flex: 1;
   width: 100%;


   .main-text{
      width: 100%;
      padding: 3% 0;
      margin: 0 auto;
      text-align: center;
      font-size: 1.5em;
      background: #fff;
   }   

   .left-text,
   .middle-text,
   .right-text {
      padding: 50px;
      line-height: 2em;
      letter-spacing: 2px;
   }   
} 



/************
   OFFER TILE
*************/

.offer {
   min-height: 100vh; 
   width: 100%;
   margin: 0;
   padding: 0 0 10%; 
   background: #fff;


   .credit,
   .loan,
   .insurance,
   .property {
      padding: 0 18px 18px;  
      height: 361px;
      width: 371px;

      figure {
         height: 100%;
      } 
      
      img {
      width: 100%;
      height: 100%;
      padding: 0;
      }
  }

  .property {
    width: 50%;
  }

  .advert {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 18%;
    background: gainsboro;
    z-index: 10;

  }

  .leasing,
  .factoring {
    width: 550px;
    height: 361px;
  }

} 

.row {
   margin: 0;

/*   .big-tile {
      display: flex;
      justify-content: center;
      padding: 30px 15px;
   }*/
}

.images-row {
   width: 100%;
   height: 344px;
   margin: 0 auto;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

}



/***********************
   OFFER IMAGE HOVER EFFECT
*************************/

figure.snip1477 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
/*  min-width: 230px;
  max-width: 315px;*/
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.snip1477 .title {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.snip1477 h2 {
  font-weight: 400;
}
figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 8%;
  left: 5%;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img,
figure.snip1477:hover .advert {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}




/**************
  LOGO CAROUSEL
***************/


.logo-carousel {
   background: rgba(34,34,34,.9);
   min-height: 35vh;
   width: 100%;
   display: flex;
   align-items: center;

   .logo-wrapper {
      background: transparent;
      height: 50%;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: hidden;
      align-items: center;
      position: relative;


      img {
         height: 60%;
         width: 15%;
         padding: 0 10px;
         margin: 0 40px;
      }
   }
}




/*********************
  SONER INTRO BANNER
*********************/

.soner-intro {

  width: 100%;
  min-height: 65vh;
  margin: 8% 0 0;
  background: linear-gradient(rgba(11,125,173, 0.7), rgba(11,125,173, 0.7)),
              url(../images/p1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  h3 {
    text-transform: uppercase;
    font-size: 5em;
    margin: 0 0;
    letter-spacing: 2px;
    line-height: 1.8;
  }

  p {
    font-size: 2em;
    margin-top: 0;

    &:first-child {
      margin-bottom: 1em;
    }
  }

  .intro-more-btn {
    width: 220px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 10px;
    background: rgba(11, 125, 173, 0.7);
    font-size: 1.5em;
    letter-spacing: 2px;
    transition: background .5s ease;

    &:hover {
      background: #085373;

    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

}



/*******************
  PARTNERS SECTION
********************/


.partner-container {
  min-height: 60vh;
  width: 100%;
  background: #fafafa;
  display: flex;
  padding: 10% 0;
  
  .partners {
    width: 70%;
    height: 360px;
    background: url('../images/partner_tile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    display: flex;
    transition: all 1s linear;

    &:hover {
      background: linear-gradient(rgba(11,125,173, 0.7), 
            rgba(11,125,173, 0.7)),
            url('../images/partner_tile.jpg');
      background-position: center;

    }

    h3 {
      margin: auto;
      color: #fff;
      font-size: 3em;

    }
  }
}





/***************
   PROMO SECTION
   CAROUSEL
****************/


/*how many images we have*/
$slides: 3;

/*how much we want each slide to show*/
$time_per_slide: 9;

/*total time needed for full animation*/
$total_animation_time: $time_per_slide * $slides;


.promo {
  margin: 0;
  width:100%;
  min-height: 80vh;
  overflow-x: hidden;
  position:relative;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;

   h2 {
      margin-top: 0;
      line-height: 50px;
      font-size: 2.5em;
   }

   p {
    font-size: 1.2em;
   }

.promo-slides {
  width: 100%;
  height: 50vh;
  position: relative;
  margin: 10% 0;

  figure {
    height: 100%;
  }
}

}
.photo{
  position: absolute;
  overflow-x: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  animation: round #{$total_animation_time}s infinite;
  opacity:0;
  
}
@keyframes round{   
  5% {
    left: 0;
    opacity: 1;
  }

  25%{
    opacity:1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity:0;
  } 

  50%{

    left: 0;
  }
  100% {
    opacity: 0;
    left: 100%;
  }
} 

@for $index from 1 to $slides + 1{
  img:nth-child(#{$index}){
    animation-delay:#{$total_animation_time - $time_per_slide * $index}s
  }
}




/********
   CALC
*********/
      
.calc {
   background: #fff;
   min-height: 100vh;
   padding: 80px 0 80px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

  input[type='text'] {
    margin: 0 50px;
    height: 50px;
  }

  button {
    width: 200px;
    height: 80px;
    border-radius: 3px;
  }

} 



/****************
HELP SECTION
****************/


.help {
  width: 100%;
  min-height: 50vh;
  background: skyblue;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  font-size: 4em;

  .help-phone {
    font-size: .5em;
    display: flex;
    align-items: center;
  }
}




.bottom-div {
  width: 100%;
  height: 150px;
  background: #fff;
}


/********
   FOOTER
*********/

footer {
   /*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");*/
   background: rgba(34,34,34,.98);
   min-height: 200px;
   width: 100%;
   margin: 20px 0 0;
   text-align: center;
   font-size: 1em;
   color: #fff;
   display: flex;
   flex-direction: column;
   letter-spacing: 1.5px;


   .info {
      /*margin: 0 auto 0 100px;*/
      display: flex;
      text-align: left;
      justify-content: flex-start;
     
   }

   .info-left,
   .info-right {      
      padding: 0 5%;
   }

   .info-left {
    position: relative;
   }


   ul {
      list-style-type: none;
      padding: 0;

      li {
         padding: 5px 0;
      }
   }

  .open-hours {
    position: absolute;
    top: -10px;
    right: -25px;
    .open {
      width: 12px;
      height: 12px;
      background: green;
      border: 1px solid #fff;
      border-radius: 50%;
      display: inline-block;

    }

    .close {
      background: #FA042D;
    }

    p {
      display: inline-block;
    }
  }

   .bottom-footer {
      background: rgba(34,34,34,1);
      width: 100%;
      padding: 1em;

   }

}




/***************
   MEDIA QUERIES
****************/


@media screen and (max-height: 800px) {

   .main-content {
      padding: 0 0;
   }

}

@media screen and (min-width: 1440px) {


  .contact-panel {
    .open-hours {
      position: absolute;
      top: 60px;
      left: 32%;
    }
  }
}

@media screen and (max-width: 1280px) {
  .contact-info p {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1440px) {
  .offer .property {
    margin-top: 20px;
  }
}